<a href="https://colab.research.google.com/github/eejyoo/2022-1-python/blob/main/05_%EC%97%B0%EC%8A%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 반복문

# (1) 범위


- 매개변수에 숫자 1개<br>
예) range(A) : 0부터 A-1까지의 정수 범위
- 매개변수에 숫자 2개<br>
예)  range(A, B) : A부터 B-1까지의 정수 범위
- 매개변수에 숫자 3개<br>
예)  range(A, B, C) : A부터 B-1까지의 정수 범위이면서 앞뒤의 숫자가 C만큼의 차이

In [ ]:
range(5)

 - range(5)가 가지는 값을 list에 저장하면 확인할 수 있음
 - list: [ ]안에 여러 종류의 자료를 넣어 활용할 수 있음<br>

In [ ]:
list(range(5))

In [ ]:
list(range(2,6))

In [ ]:
list(range(1,10,2))

In [ ]:
list(range(10,1,-2))

**QUIZ 1**<br>
10~20 사이의 홀수(11,13,15,17,19)를 범위로 가지도록 코드를 작성하고 list로 확인하시오.

#(2) for반복문: 범위와 함께 사용하기

```
for 변수 in 범위:
    코드
```

In [ ]:
for i in range(5):
  print(i)

In [ ]:
sum = 0
for i in range(5):
  sum = sum + i
print(sum)

In [ ]:
# 위 코드와의 차이를 알아보세요.
sum = 0
for i in range(5):
  sum = sum + i
  print(sum)



```
sum = 0             #변수 sum을 0으로 초기화
for i in range(5):  #i는 0~4까지의 값을 가지며 반복
  sum = sum + i     #sum(오른쪽)에 i를 더하여 sum(왼쪽)에 저장
print(sum)          #for문을 빠져나와 sum의 값을 출력
```

In [ ]:
for i in range(3,5):
  print(i)

In [ ]:
for i in range(1,10,2):
  print(i)

**QUIZ 2**<br>
짝수(2,4,6,8,10)을 for문을 사용하여 출력하시오.

**QUIZ 3**<br>
for문을 사용하여 짝수(2,4,6,8,10)의 합계를 구하고 출력하시오.